body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}
/* header section */
.header{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.header h1{
  font-size: 70px;
  font-weight: bold;
}

.header a{
  font-size: 18px;
  display: block;
  color: inherit;
  margin: 5px 5px 5px 5px;
}

/*mid1 section*/
.mid1 h2, .mid2 h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 45px;
}

.mid1 h3, .mid2 h3{
  font-size: 23px;
  font weight: bold;
  margin: 20px 0px 20px 0px;
}

.mid1 p, .mid2 p{
  font-size: 14px;
  margin: 20px 0px 45px 0px;
}

.mid1 img{
  height: 75px;
  width: 75px;
}

/*bar section*/
.bar{
 background-image: url("../images/the-flatiron-building.png");
}

.bar p{
  font-weight: bold;
  font-size: 23px;
  color: white;
}

/*footer section*/
.footer{
  text-align: left;
  background-color: dimgray;
  color: white;
}

.footer span{
  font-size: 11px;
}

.footer a{
  color: inherit;
}
