body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.header h1{
  font-size: 70px;
  font-weight: bold;
}

.header a{
  font-size: 18px;
  display: block;
  color: inherit;
  margin: 5px 5px 5px 5px;
}
